.add-job-container {
    display: flex;
    gap: 30px; 
    align-items: stretch; 
    justify-content: center;
    padding: 20px;
}

.add-job-con {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 50%; 
}

.add-job-form {
    display: flex;
    flex-direction: column;
}

.label-and-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    margin-top: 10px;
    background-color: #f07545;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-end; 
}

button:hover {
    background-color: #0056b3;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
