.login-container {
    display: flex;
    height: 100vh;
}

.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
}

.login-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.error-text {
    color: red;
    font-size: 14px;
    text-align: center;
}

.form-btn {
    background-color: #f07545;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.form-btn:hover {
    background-color: #e95c24;
}
.checkbox-container{
    display: flex;
}
.overlay-text {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
}

@media screen and (max-width:768px){
    .signin-img-con{
        display: none;
    }
}